#root {
  padding: 0px !important;
  margin: 0px !important;
  /* border: 10px solid red; */
}

.wrap {
  /* pading to the sides only */
  /* padding: 10px 21px 13px 24px; */
  display: flex;
}

.wrap > div {
  /* pading to the sides only */
  border: 1px solid #000;
  /* padding is top-right-bott-left */
  padding: 5px 20px 5px 20px;
  display: flex;
  height: 40px;
  align-items: center;
}

.wrap > div:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

p {
  margin-bottom: 0px !important;
}

.nav-bar {
  background-color: white;
  border-bottom: 1px solid #000;
}

.button_selected {
  background-color: #d0ffd0;
  font-weight: bold;
}
