.photos {
  /* /* border: 1px solid #00ff00; */
  width: 60vw;
  position: relative;
}
.photo {
  /* border: 1px solid #00ff00;
  width: 60vw; */
  position: relative;
  width: 100%;
}
.photos img {
  /* border: 1px solid #00ff00; */
  /* width: 60vw; */
  /* margin-bottom: 20px; */
  border-bottom: 10px solid black;
  width: 100%;
}

.pins {
  position: absolute;
  pointer-events: auto;
}

.PinAndToolTipContainer {
  position: absolute;
  top: 0; /* Align to the top of the containing block */
  left: 0; /* Align to the left of the containing block */
  right: 0; /* Stretch to the right edge of the containing block */
  bottom: 0;
  pointer-events: none;
}

.PinAndToolTipContainer div {
  pointer-events: auto;
}

@media (max-width: 768px) {
  .photos {
    width: 100%;
  }
}
