.rubric {
  /* border: 2px solid rgba(255, 0, 0, 0.2); */
  background-color: #eeeeee;
  border-bottom: none;
  /* set div to the far right */
  position: fixed;
  right: 0;
  width: 40vw;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  box-shadow: 10px 10px 5px lightblue;
  border-radius: 50px 10px 50px 10px;
}

.imported_rubric {
  font-weight: bold;
  background-color: lightblue;
  text-align: left;
  padding: 0% 0% 5% 5%;
  width: 98.5%;
  align-self: flex-end;
  /* margin-left: 3%; */
}
