.AddEditHeader {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.AddEditBody {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.AddEditBodyRows {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 5px 0px 5px 0px;
}

.WidthRight {
  /* resize: "none"; */
  width: 70%;
  height: 40%;
}


/* This css is important due to a alleged bug in react bootstrap adding random top tag in the fade animation and a random -280px margin at the modal */
.modal.fade{
  top:0% !important;
}

.modal{
  margin-left: 0px !important;
  background-color: transparent !important; 
}